<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

	</head>
	
	<body>
		<!--Header for logIn/logOut button based on authentication state  -->		
		<div class = 'header'>
				<h1>Animal Catalog App</h1>
				<a id="logout"   class='button {{ statusOut }}'  href="/gdisconnect" >Log Out</a>
				<a id="login"    class='button {{ statusIn }}'  href="/login" >Log In</a>
		</div>
		
		<!--Main Div container -->
		<div class='container'>

			<div class = 'pane'>
				<div class = 'header'>
				<h1>Categories:</h1>
				</div>

				{% for i in category %}

				<div class = 'animalDiv'>
					<p>
						<a href = '{{ url_for('categoryList', category_name = i.name) }}'> {{i.name}} </a>
					</p>
				</div>

				{% endfor %}

			</div>	

			<div class='pane'>
				<p>
					<a href = '{{url_for('newItem') }}'>Create New Animal</a>
				</p>
				<p>
					<a href = '{{ url_for('homePage') }}'> Home </a>
				</p>
			</div>

			<!--Div to display animal items -->
			<div class = 'pane'>
				<div class = 'header'>
					<h1>{{category_name}} Items ({{ count }}):</h1>
				</div>

				{% for i in items %}

				<div class = 'animalDiv'>
					<p>
						<a href = '{{ url_for('itemDetail', category_name = i.categories.name , item_id = i.id ) }}'> {{i.name}} </a>
						&nbsp;
						<a class='categoryLink' href = '{{ url_for('categoryList', category_name = i.categories.name) }}'> ({{i.categories.name}}) </a>
					</p>
				</div>

				{% endfor %}
			</div>
		</div>	
	</body>
</html>