<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

	
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>Catalog App</h1>
	</div>



	<div class = 'pane'>
		<div class = 'header'>
		<h1>Categories:</h1>
	</div>

	{% for i in category %}
	
	<div class = 'animalDiv'>
		<p>{{i.name}}</p>
	</div>
	
	{% endfor %}

	
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}      
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>



	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{category_name}} Items:</h1>
	</div>

	{% for i in items %}

	<div class = 'animalDiv'>
		<p>{{i.name}}</p>
	</div>

	{% endfor %}


</div>
</div>
	</body>




</html>
